//== Colors
//
$black: #222;

$color-base: #F8F8F8;
$color-base-light: #F3EDE2;
$color-main: #333333;
$color-main-light: #555555;
$color-accent: #BA083D;
$color-link: #1E4EC4;
$color-link-hover: #0947AA;
$color-light-gray: #A8A6A9;

$brand-primary: $color-accent;
$brand-info-alt:#4E6994;

// background
$background-color: #F9EFEC;

// text
$text-default: $color-main;
$text-accent: $color-accent;
$text-link: $color-link;
$text-link-hover: $color-link-hover;


//== Scaffolding
//
$body-bg: $background-color;
$text-color: $text-default !default;
$link-color: $text-link !default;
$link-hover-color: $text-link-hover !default;


//== Typography
//
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-outfit: 'Outfit', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-base: $font-sans-serif !default;
$headings-font-weight: 600;


//== Navbar
//
$navbar-default-color: $text-default !default;
$navbar-default-bg: $background-color !default;
$navbar-default-border: darken($background-color, 10%) !default;
$navbar-default-link-color: $black !default;
$navbar-default-link-hover-color: $color-accent;
$navbar-default-link-active-bg: lighten($color-accent, 6.5%);

//== Type
//
$blockquote-border-color: $color-base !default;
$page-header-border-color: $color-base !default;
